@font-face {
    font-family: 'Karmatic';
    src: url('/fr/ynryo/tictactoe/fonts/KarmaticArcade.ttf');
}

.label {
    -fx-font-family: 'Karmatic';
    -fx-font-size: 20;
}

.button .text {
    -fx-font-family: 'Karmatic';
}